*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/release/app-release.aab
nativetemplates/build/intermediates/aapt_friendly_merged_manifests/release/aapt/AndroidManifest.xml
nativetemplates/build/intermediates/compile_library_classes_jar/release/classes.jar
nativetemplates/build/intermediates/compile_r_class_jar/release/R.jar
nativetemplates/build/intermediates/compile_symbol_list/release/R.txt
nativetemplates/build/intermediates/library_manifest/release/AndroidManifest.xml
nativetemplates/build/intermediates/manifest_merge_blame_file/release/manifest-merger-blame-release-report.txt
nativetemplates/build/intermediates/symbol_list_with_package_name/release/package-aware-r.txt
